.myDiv{
    text-align: center;
}

#diagram1 {
    border:2px;
    display: flex;
    justify-content:center;
    padding-top: 2cm;
}

#diagram2 {
    border:2px;
    display: flex;
    justify-content:center;
    padding-top: 2cm;
}

#diagram3 {
    border:10px;
    display: flex;
    justify-content:center;
    padding-top: 2cm;
    stroke: #646464;
    stroke-width: 1px;
    /*
    stroke-linejoin: round;
    background-color: lightblue;
    */
}

div.tooltip-donut {
    position: absolute;
    text-align:justify;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 5px;
    pointer-events: none;
    font-size: 1.2rem;
    fill-opacity: 0.5;
}  
