@font-face {
  font-family: 'NK57MonospaceScLt-Regular';
  src:url('fonts-local/NK57MonospaceScLt-Regular.ttf.woff') format('woff'),
      url('fonts-local/NK57MonospaceScLt-Regular.ttf.svg#NK57MonospaceScLt-Regular') format('svg'),
      url('fonts-local/NK57MonospaceScLt-Regular.ttf.eot'),
      url('fonts-local/NK57MonospaceScLt-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Red+Hat+Display:wght@300;400;500;700&family=Work+Sans&display=swap');

/* Removing default margin and padding added by browser */
body,html, text {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    }
  
  /* Should disable snapping on mobile devices, haven't tested it yet */
  @media (min-height: 30em) {
    main {
      scroll-snap-type: y mandatory; /* Sets scroll to snap to full page. */
      height: 100vh; /* vh = viewport height. Scales height to fit device screen */
      overflow-y: scroll; /* Needed to make snap-type work */
      scroll-behavior: smooth;
    }
  }
  
  /* Same as above, but for the individual sections. Still not tested */
  @media (min-height: 30em) {
    .section {
      height: 100vh;
    }
  }

  .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
  
  /* Styling the individual sections */
  .section {
    color: white;
    position: relative;
    scroll-snap-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 1em;
  }
  
    .section-1 {
      background-color: #212845;
    }

    .section-1 > .col1 {
      padding-top: 6%;
    }
  
    .section-2 {
      background-color: #212845;
    }

    .section-2 > .col2 {
      padding-left: 2em;
      padding-top: 8%;
    }
  
    .section-3 {
      background-color: #212845;
    }
  
    .col {
      height: 85vh;
      vertical-align: center;
      justify-content: center;
      text-align: center;
    }
  
    .col > p {
      font-size: 20px;
    }
  
    .col > h2 {
      font-size: 25px;
    }
  
    .col1 {
      width: 68%;
      position: inline-block;
      text-align: center;
      padding-top: 8%;
    }
  
    .col2 {
      width: 30%;
      position: inline-block;
      text-align: center;
      vertical-align: center;
      padding-top: 14%;
    }
  
    .container {
      padding-top: 4rem;
      width: 100%;
      color: #e5e5e5;
      font-size: 2.26rem;
      text-transform: uppercase;
      display: flex;
      align-items: top;
      justify-content: center;
      height: 5vh;
      overflow-y: hidden;
    }
  
    .container > p {
      margin:0;
    }
  
    .animation > div > div {
      padding: 0rem 0.75rem;
      height:2.70rem;
      margin-bottom: 3rem;
      display:inline-block;
      text-align: center;
    }
    
    .animation {
      height:50px;
      overflow:hidden;
    }
  
    .animation div:first-child {
      animation: text-animation 25s infinite;
    }
  
    .paragraph {
      color: #e5e5e5;
      font-size: 2.26rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
  }
  
    /* Removing scrollbar on Chrome, Edge, Safari and Opera. We can also style it instead if we want */
  ::-webkit-scrollbar {
      display: none;
    }
  
    /* Scroll down nudge icon styling */
    .scroll-down {
      position: absolute;
      left: 50%;
      bottom: 2rem;
      display: block;
      text-align: center;
      font-size: 20px;
      text-decoration: none;
      text-shadow: 0;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: translate(-50%, 0%) rotate(45deg);
      animation: fade_move_down 5s ease-in-out infinite;
    }
    
    
    /*Scroll arrow animation timings*/
    @keyframes fade_move_down {
      0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
  
      /* Tekst skift animation-steps (re-calculate with 5.55 interval)*/
      @keyframes text-animation {
        0% {margin-top: 0;}
        5.55% {margin-top: 0;}
        11.10% {margin-top: -5.7rem;}
        16.65% {margin-top: -5.7rem;}
        22.20% {margin-top: -11.4rem;}
        27.75% {margin-top: -11.4rem;}
        33.30% {margin-top: -17.1rem;}
        38.85% {margin-top: -17.1rem;}
        44.40% {margin-top: -22.8rem;}
        49.95% {margin-top: -22.8rem;}
        55.50% {margin-top: -17.1rem;}
        61.05% {margin-top: -17.1rem;}
        66.60% {margin-top: -11.4rem;}
        72.15% {margin-top: -11.4rem;}
        77.70% {margin-top: -5.7rem;}
        83.25% {margin-top: -5.7rem;}
        88.80% {margin-top: 0;}
        94.35% {margin-top: 0;}
        100% {margin-top: 0;}
      }
  
      /* CHART CSS */
    
    #diagram1 {
        display: flex;
        justify-content:center;
    }
    
    div.tooltip-donut {
        position: absolute;
        text-align:justify;
        padding: .5rem;
        background: #FFFFFF;
        color: #313639;
        border: 1px solid #313639;
        border-radius: 5px;
        pointer-events: none;
        font-size: 1.2rem;
        fill-opacity: 0.5;
    } 
  
    /* FORM STYLING */
  
    label { width: 6em; float: left; text-align: center; margin: .5em 1em; clear: both;}
    input, textarea { margin: .5em 0; width: 10em; }

    .kWh_total {
      width: 5em;
    }




  #resultat{
    font-size: x-large;
  }

  #besparelse {
    font-size: x-large;
  }
  
  #counter {
    font-size: x-large;
  }

/*Tooltip til sidegraf3*/

  #tooltip {
    position: absolute;
    width: 70px;
    height: 20px;
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.tekstFelt {
  display: inline-block;
  font-size: x-large;
}

.SPACE {
  margin-top: 1em;
  width: 50%;
  
}

/* Page 3 button styling */

.page3button {
  width: 300px;
  height: 50px;
  color: #ffffff;
  background: #212845;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.5s ease-in-out;
  border-width: 1px;
  border-color: white;
}

.page3button:before { /* Defining psuedo-element with gradient colors and animation. Is see-through here*/
  content: '';
  background: linear-gradient(45deg, #FF0000, #FFF700, #FF7000, #FF00FE, #3FF4EB, #9E00FF, #00BEFF, #FF00DD, #FF0000);
  position: absolute;
  top: -3px;
  left:-3px;
  background-size: 400%; /* Increasing background size to make sure the animation can actually move.*/
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.page3button:hover { /* On hover, increase button size slightly*/
    transform: scale(1.05);
}

.page3button:hover:before { /* On hover, make above gradient animation visible for full background*/
  opacity: 1;
}

.page3button:after { /* On hover, make background darkblue so only the edges of the animation is shown to create 'glow' effect*/
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #212845;
  left: 0;
  top: 0;
}

@keyframes glowing { /* Animation to move the gradient */
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; } /* Runs the larger backreound across the button and back to start again*/
    100% { background-position: 0 0; }
}
